<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>
	Sign up to the Ruby on Rails Tutorial at the <a href="http://google.com/">Rails Tutorial help page</a>. To get help on this sample app, see the <a href="http://google.com/">Rails book</a>.
</p>
