<footer class="footer">
	<small>
		<a href="http://cardinform.com/">Rails Tutorial</a>
		by Mark
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://cardinform.com/">Cardinform</a></li>
		</ul>
	</nav>
</footer>	